.Row {
    margin-transform: 20px;
    color: #fff;
    position: relative;
    bottom: 234px;
    width: fit-content;

    &-menus {
        display: flex;
        overflow-y: hidden;
        overflow-x: scroll;
        padding: 20px;
        
        &::-webkit-scrollbar {
            display: none;
        }
    }
    
    &-menu {
        object-fit: cover;
        width: 100%;
        max-height: 130px;
        transition: transform 450ms;
    
        &-large {
            max-height: 250px;
    
            &:hover {
                transform: scale(1.09);
            }
        }
        
        &:hover {
            transform: scale(1.08);
        }
    }

    // https://irokoto.co.jp/blog/20201228/post-17#4_animation-delay
    animation: row 30s infinite linear;
    -webkit-animation: row 30s infinite linear;
    -moz-animation: row 30s infinite linear;

    @keyframes row {
        0% {
            transform: translateX(100%);
        }
    
        100% {
            transform: translateX(-100%);
        }
    }

    @-webkit-keyframes row {
        0% {
            -webkit-transform: translateX(100%);
        }
        100% {
            -webkit-transform: translateX(-100%);
        }
    }

    @-moz-keyframes row {
        0% {
            transform: translateX(100%);
        }
        100% {
            transform: translateX(-100%);
        }
    }

    @keyframes row {
        0% {
            transform: translateX(100%);
        }
        100% {
            transform: translateX(-100%);
        }
    }
}

.Card {
    margin: 30px 10px;
    width: 200px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px #ccc;
    height: 270px;

    &-img {
        border-radius: 5px 5px 0 0;
        max-width: 100%;
        height: auto;  
    }

    &-content {
        padding: 14px;  
        height: 37%; 
    }

    &-title {
        font-size: 13px;
        margin-bottom: 20px;
        text-align: center;
        color: #111;
        margin: 0;
        height: 60%;
    }

    &-text {
        color: #777;
        font-size: 15px;
        line-height: 1.5;
        text-align: center;
        margin: 10px 10px 0 10px;
    }

    &-link {
        text-align: center;
        border-top: 1px solid #eee;
        padding: 5px;

        & a {
            text-decoration: none;
            color: #0bd;
            margin: 0 10px;

            &:hover {
                color: #0090aa;
            }
        }
    }


}

